body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

pre {
  font-family: "Plus Jakarta Sans", sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

.video-container {
  flex: 1 1 40rem;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.article .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}

.faculty .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}

/* .invalid-feedback {
  display: block !important;
} */

.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  padding: 2rem;
}

.course-card {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.course-card h3 {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .courses {
    grid-template-columns: 1fr;
  }
}

.position-relative {
  position: relative;
}

.abt-img{
  size: 30%;
}

